@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


/* .App {
    background: url('./images/bg2.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.white-bg {
    background: url('./images/bg2.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gradiant-bg {
    background: url('./images/gradiant.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}